@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
}

@layer utilities {
  .pointer {
    @apply cursor-pointer;
  }
  .flxr {
    @apply flex flex-row;
  }
  .flxc {
    @apply flex flex-col;
  }
  .section-span {
    @apply text-black z-50 text-5xl font-extrabold lg:pl-16;
  }
  .arivl-card {
    @apply bg-brand-bg-card my-auto mx-auto rounded-xl hover:cursor-pointer hover:shadow-2xl transition-colors;
  }
}
.login-input{
  @apply rounded-xl bg-transparent border-2  md:w-[300px] lg:w-[500px] border-black pl-4 py-2 placeholder-black;
}
@keyframes appears {
  from {
    scale: 0.7;
    opacity: 0.8;
  }
  to {
    opacity: 2;
    scale: 1;

  }
}

.bg-animate {
  animation: appears linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
